* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.images {
  outline: 1px solid red;
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
  height: 400px;
  gap: 1rem;
  justify-content: space-between;
}

.box {
  background-color: blue;
  color: wheat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  height: 40px;
}

.mi {
  background-color: brown;
}

.logo {
  align-self: flex-end;
}

@media (min-width: 600px) {
  body {
    background-color: red;
  }
}
